<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pagbankpos"   xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="br.com.uol.pagseguro.permission.MANAGE_PAYMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" tools:node="remove" tools:replace="android:maxSdkVersion" android:maxSdkVersion="1" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove" tools:replace="android:maxSdkVersion" android:maxSdkVersion="1" /> 
    <uses-permission android:name="android.permission.BIND_GET_INSTALL_REFERRER_SERVICE" tools:node="remove" tools:replace="android:maxSdkVersion" android:maxSdkVersion="1" /> 
    <uses-permission android:name="android.permission.DUMP" tools:node="remove" tools:replace="android:maxSdkVersion" android:maxSdkVersion="1" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
