<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pagbankpos"   xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="br.com.uol.pagseguro.permission.MANAGE_PAYMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>
